.vitalswap-biz {
  padding: 9.6rem 0;
  background-color: #f2f2f2;

  &__caption {
    text-align: center;
    margin-bottom: 9.6rem;

    @include respond(tablet) {
      padding: 1.6rem;
      margin-bottom: 7.2rem;
    }

    h2 {
      color: #000;
      text-align: center;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 4.4rem;
      letter-spacing: -0.72px;

      @include respond(phone) {
        font-size: 3.2rem;
      }
    }

    p {
      color: #272727;
      max-width: 69.6rem;
      margin: 0 auto;

      @include respond(phone) {
        font-size: 1.6rem;
      }
    }
  }
}

.same-day-settlement,
.protect-your-revenue,
.local-currency-payment,
.intuitive-dashboard,
.free-api-integration {
  h3 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
  }

  p {
    max-width: 45rem;
    color: rgba(255, 255, 255, 0.75);
  }

  .btn {
    padding-inline: 3.2rem;
  }

  .splitscreen__left,
  .splitscreen__right {
    align-self: center;
  }
}

.same-day-settlement {
  &__inner {
    padding: 6.4rem 8rem;
    border-radius: 0.4rem;
    background: #1c50b4;
    background-image: url("/src/assets/same-day-settlement-pattern.png");
    background-repeat: no-repeat;
    background-position: top right;
    overflow: hidden;
    margin-bottom: 8rem;

    @include respond(tablet) {
      padding: 2.4rem 2.4rem 0;
      background-size: 80rem;
    }

    @include respond(phone) {
      background-size: 35rem;
    }
  }

  &__right {
    position: relative;
    height: 32rem;

    @include respond(tablet) {
      height: auto;
    }

    img {
      position: absolute;
      top: -2rem;
      transform: translateX(-4rem);

      @include respond(tablet) {
        display: block;
        position: relative;
        top: initial;
        bottom: -1.2rem;
        right: -4rem;
        width: 60%;
        margin-inline: auto;
      }

      @include respond(md-phone) {
        width: 100%;
        margin-inline: auto;
        height: 50vh;
        right: -7rem;
        object-fit: cover;
        transform: scale(1.2);
      }

      @include respond(sm-phone) {
        height: 45vh;
        transform: scale(1.2);
      }

      @include respond(xs-phone) {
        height: 35vh;
      }
    }
  }
}

.summary {
  position: absolute;
  top: 25rem;
  left: 2rem;
  background-color: #fff;
  width: 34.3rem;
  flex-shrink: 0;

  @include respond(tablet) {
    top: initial;
    bottom: 4rem;
    left: 50%;
    transform: scale(0.8) translateX(-50%);
  }

  @include respond(phone) {
    transform: scale(0.6) translateX(-50%);
  }

  @include respond(md-phone) {
    left: 35%;
    transform: scale(0.7) translateX(-50%);
  }

  border-radius: 0.4rem;
  border: 1px solid #ebeff2;
  background: #f9fafb;

  &__edit {
    padding: 0.8rem;
    border-bottom: 1px solid #e3e5eb91;
    @include flex(space-between, center);
  }

  h4 {
    color: #343947;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.03px;
    margin: 0;
  }

  a:link {
    color: #0875e0;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
    line-height: 12px;
    text-decoration-line: underline;
  }

  .desc {
    color: var(--Black-300, #8f97ad);
    font-size: 1rem;
    line-height: 12px;
  }

  .amt {
    color: #343947;
    font-weight: 800;
    text-align: right;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.03px;
  }

  &__estimated-rate,
  &__service,
  &__pay {
    padding: 0.4rem 0.8rem;
    @include flex(space-between, center);
  }

  &__pay {
    padding-bottom: 0.8rem;
  }
}

.protect-your-revenue {
  &__inner {
    padding: 14rem 8rem;
    border-radius: 0.4rem;
    background: #97a82a;
    background-image: url("/src/assets/protect-your-revenue-img.webp");
    background-size: 60rem;
    background-position: -1rem -5rem;
    background-repeat: no-repeat;
    margin-bottom: 8rem;

    @include respond(tablet) {
      padding: 4rem 2.4rem;

      background-size: 38rem;
      background-position: center bottom;
    }

    @include respond(phone) {
      background-size: 42rem;
    }

    @include respond(sm-phone) {
      background-size: 42rem;
      background-position: -5rem bottom;
    }

    @include respond(xs-phone) {
      background-size: 42rem;
      background-position: -10rem bottom;
    }

    p {
      max-width: 38rem;
    }
  }

  &__inner .splitscreen {
    @include respond(tablet) {
      flex-direction: column-reverse;
    }
  }

  &__left {
    position: relative;

    @include respond(tablet) {
      height: 40vh;
    }

    .rate__card {
      top: 4rem;

      @include respond(tablet) {
        top: initial;
        bottom: 0;
        left: -23rem !important;
      }

      @include respond(phone) {
        left: -21rem !important;
        transform: scale(0.6);
      }
    }
  }
}

.local-currency-payment {
  &__inner {
    border-radius: 0.4rem;
    background: #147b75;
    padding: 14rem 8rem;
    margin-bottom: 8rem;

    background-image: url("/src/assets/same-day-settlement-pattern.png");
    background-size: 60rem;
    background-position: right bottom;
    background-repeat: no-repeat;
    overflow: hidden;

    @include respond(tablet) {
      padding: 4rem 2.4rem;
    }

    p {
      max-width: 45rem;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    @include respond(tablet) {
      display: block;
    }

    img {
      position: absolute;
      top: -40rem;
      width: 60%;
      transform: translateX(-4rem);
      text-align: center;

      @include respond(tablet) {
        width: 40%;
        display: block;
        top: 3.2rem;
        position: relative;
        margin-inline: auto;
        transform: translateX(0);
      }

      @include respond(phone) {
        width: 40%;
      }

      @include respond(md-phone) {
        width: 60%;
      }

      @include respond(sm-phone) {
        width: 70%;
      }
    }

    .wallet-card {
      @include respond(tablet) {
        gap: 1.6rem;
        align-self: center;

        top: -32rem;
        left: 6rem;
      }

      @include respond(phone) {
        top: -28rem;
        left: 0rem;
      }

      @include respond(md-phone) {
        top: -26rem;
        left: -4rem;
        transform: scale(0.7);
      }

      @include respond(md-phone) {
        transform: scale(0.6);
      }
    }
  }
}

.wallet-card {
  position: relative;
  z-index: 2;
  border-radius: 0.8rem;
  background-image: linear-gradient(271deg, #045992 19.48%, #032250 90.65%);
  padding: 2.4rem;
  width: 34.3rem;

  transform: scale(0.8);
  top: -12rem;
  left: -12rem;

  @include flex(space-between, center);

  &__dollar {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    span:nth-child(1) {
      color: #f9fafb;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 18px;
    }

    span:nth-child(2) {
      color: #fff;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 28px;
      letter-spacing: -0.552px;
    }
  }

  &__btn {
    display: inline-flex;
    padding: 0.8rem 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font: inherit;
    font-size: 1.4rem;
    background-color: transparent;
    color: #fff;

    border-radius: 0.8rem;
    border: 1px solid #fff;
  }
}

.intuitive-dashboard {
  &__inner {
    border-radius: 0.4rem;
    background: #000000;
    padding: 14rem 8rem;
    margin-bottom: 8rem;

    background-image: url("/src/assets/dashboard-mockup.webp");
    background-size: 65rem;
    background-position: 56rem 13rem;
    background-repeat: no-repeat;
    overflow: hidden;

    @include respond(tablet) {
      padding: 4rem 2.4rem;

      background-size: 54rem;
      background-position: center 30rem;
    }

    @include respond(md-phone) {
      background-size: 50rem;
      background-position: 6rem 32rem;
    }

    @include respond(sm-phone) {
      background-size: 47rem;
      background-position: 4rem 34rem;
      padding: 4rem 2.4rem 2.4rem;
    }

    @media only screen and (max-width: 425px) {
      background-position: 4rem 32rem;
    }

    @media only screen and (max-width: 375px) {
      background-position: 4rem 34rem;
    }

    @include respond(xs-phone) {
      background-size: 45rem;
      background-position: 4rem 42rem;
    }

    h3,
    p {
      max-width: 40.3rem;
    }
  }

  &__right {
    @include respond(tablet) {
      height: 40rem;
    }
  }
}

.free-api-integration {
  &__inner {
    border-radius: 0.4rem;
    background: #ffffff;
    padding: 16rem 8rem;

    background-image: url("/src/assets/free-api-integration-mockup.svg");
    background-size: 56rem;
    background-position: 65rem 15rem;
    background-repeat: no-repeat;
    overflow: hidden;

    @include respond(tablet) {
      padding: 4rem 2.4rem;

      background-size: 54rem;
      background-position: center 30rem;
    }

    @include respond(md-phone) {
      background-size: 50rem;
      background-position: 6rem 32rem;
    }

    @include respond(sm-phone) {
      background-size: 46rem;
      background-position: 4rem 31rem;
    }

    @include respond(xs-phone) {
      background-size: 45rem;
      background-position: 4rem 35rem;
    }

    h3 {
      color: #97a82a;
    }

    p {
      max-width: 42.7rem;
      color: #747474;
    }
  }

  &__right {
    @include respond(tablet) {
      height: 30rem;
    }
  }
}
