/*************************************************
 Virtual card Section
*/

.virtual-card {
  padding: 12rem 0;

  &__inner {
    padding: 6.4rem 4.8rem;
    border-radius: 2.4rem;
    background: #fff;
    box-shadow: 0px 2rem 7.56rem 0px #deefff;

    @include respond(tablet) {
      padding: 4rem 2.4rem;
    }

    .splitscreen__left,
    .splitscreen__right {
      display: flex;
      align-items: center;
    }
  }

  &__left {
    span {
      color: #04396d;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 2.4rem;
    }

    h3 {
      max-width: 45.7rem;
      color: #0b0c0f;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 4.4rem;
      letter-spacing: -0.72px;

      @include respond(phone) {
        font-size: 2.8rem;
        line-height: 3.2rem;
      }
    }

    p {
      color: #0b0c0f;
      margin-bottom: 3.2rem;

      @include respond(phone) {
        font-size: 1.5rem;
        line-height: 2.4rem;
      }
    }
  }

  &__right {
    img {
      @include respond(phone) {
        display: block;
        margin-inline: auto;
      }
    }
  }
}

/*************************************************
 Merchant Section
*/

.merchant {
  padding: 12rem 0;
  background-color: #04396d;

  h3 {
    max-width: 45.6rem;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
  }

  p {
    color: rgba(229, 231, 235, 0.8);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.2px;
    margin-bottom: 3.2rem;
  }

  &__caption {
    margin-bottom: 8rem;

    h2 {
      max-width: 89.7rem;
      margin-inline: auto;
      color: #fff;
      text-align: center;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 4.8rem;
      letter-spacing: -0.72px;

      @include respond(tablet) {
        font-size: 3rem;
        line-height: 3.8rem;
      }

      @include respond(phone) {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }
    }
  }
}

.open-dollar-account,
.global-payment,
.manage-wallet {
  border-radius: 0.8rem;
  background: #03204c;
  padding: 9.6rem 4.8rem;

  @include respond(tablet) {
    padding: 4.8rem 2.4rem;
  }

  .splitscreen__left,
  .splitscreen__right {
    display: flex;
    align-items: center;
  }
}

.open-dollar-account {
  margin-bottom: 8rem;
  overflow: hidden;

  @include respond(tablet) {
    padding: 4.8rem 2.4rem 0;
  }

  &__left {
    padding-left: 4.8rem;

    @include respond(tablet) {
      padding-left: 0;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    @include respond(tablet) {
      height: 45rem;
    }

    @include respond(sm-phone) {
      height: 35rem;
    }

    @include respond(xs-phone) {
      height: 30rem;
    }

    img {
      position: absolute;
      top: -20%;
      width: 70%;
      transform: translateX(-4rem);
      text-align: center;

      @include respond(tablet) {
        width: 50%;
        margin-inline: auto;
        transform: translate(0, 10rem);
      }

      @include respond(phone) {
        transform: translate(0, 13rem);
      }

      @include respond(md-phone) {
        width: 70%;
      }

      @include respond(sm-phone) {
        transform: scale(1.3) translate(0, 11rem);
      }

      @include respond(xs-phone) {
        width: 80%;
        transform: scale(1.3) translate(0, 9rem);
      }
    }
  }
}

.global-payment {
  margin-bottom: 8rem;
  overflow: hidden;
  padding: 12rem 4.8rem;

  @include respond(tablet) {
    padding: 4.8rem 2.4rem 0;
  }

  .splitscreen {
    @include respond(tablet) {
      flex-direction: column-reverse;
    }
  }

  &__left {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    @include respond(tablet) {
      padding-bottom: 4.8rem;
      height: 50rem;
      overflow: hidden;
    }

    @include respond(md-phone) {
      height: 40rem;
    }

    img {
      position: absolute;
      top: -155%;
      width: 70%;
      text-align: center;
      object-fit: cover;
      object-position: bottom;

      @include respond(tablet) {
        position: relative;
        top: initial;
        width: 50%;
      }

      @include respond(md-phone) {
        width: 70%;
      }

      @include respond(sm-phone) {
        width: 80%;
      }

      @include respond(xs-phone) {
        top: -2rem;
        width: 100%;
      }
    }
  }

  &__right {
    p {
      max-width: 40rem;

      @include respond(tablet) {
        max-width: 90rem;
      }
    }
  }
}

.manage-wallet {
  margin-bottom: 8rem;
  overflow: hidden;
  padding: 12rem 4.8rem;

  @include respond(tablet) {
    padding: 4.8rem 2.4rem 0;
  }

  &__left {
    padding-left: 4.8rem;
    padding-right: 4.8rem;

    @include respond(tablet) {
      padding: 0;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    @include respond(tablet) {
      height: 40rem;
      overflow: hidden;
    }

    @include respond(sm-phone) {
      height: 28rem;
    }

    img {
      position: absolute;
      top: -20%;
      width: 70%;
      transform: translateX(-4rem);
      text-align: center;

      @include respond(tablet) {
        top: 0;
        transform: translateX(0);
      }

      @include respond(phone) {
        width: 50%;
      }

      @include respond(md-phone) {
        width: 80%;
      }

      @include respond(xs-phone) {
        width: 100%;
      }
    }
  }
}

/*************************************************
 Steps Section
*/

.steps {
  &__section {
    padding: 8rem 0;

    @include respond(tablet) {
      padding: 8rem 0 4rem;
    }
  }

  &__caption {
    max-width: 64rem;
    margin-bottom: 4.8rem;

    @include respond(tablet) {
      margin: 0 auto 4.8rem;
    }

    h2 {
      @include respond(tablet) {
        font-size: 3.7rem;
        text-align: center;
        max-width: 45rem;
        margin: 0 auto;
      }

      @include respond(xs-phone) {
        font-size: 3rem;
      }
    }
  }

  &__inner {
    padding: 4.8rem;
    border-radius: 2.4rem;
    background: #fff;
    box-shadow: 0px 21px 75.6px 0px #deefff;

    @include respond(tablet) {
      padding: 4.8rem 2.4rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;

    @include respond(tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    background-color: var(--neutrals-white);
    padding: 3.2rem;
    max-width: 46rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.4s;

    @include respond(tablet) {
      max-width: 60rem;
      margin: 0 auto;
    }

    @include respond(md-phone) {
      // max-width: 60rem;
      margin: 4.8rem auto 0;
    }

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    h4 {
      margin-bottom: 0.8rem;
    }

    p {
      color: var(--text-secondary);
    }

    &--active {
      background-color: var(--neutral-grey);

      p {
        color: var(--text-primary);
      }
    }

    &:hover {
      transform: scale(0.9);
    }
  }

  &__img {
    &-box {
      position: relative;

      @include respond(tablet) {
        display: none;
      }

      img {
        height: 100%;
      }
    }

    &--1,
    &--2,
    &--3 {
      padding: 3.2rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include flex(center, center);
    }

    &--1 {
      background-color: var(--grey-200);
    }

    &--2 {
      background-color: #ffd469;
    }

    &--3 {
      background-color: var(--vs-blue);
    }

    &--active {
      z-index: 4;
    }

    &--mob {
      height: 48rem;
      display: none;

      padding: 3.2rem;
      justify-content: center;
      margin-bottom: 2.4rem;
      border-radius: 0.8rem;
      position: relative;

      @include respond(phone) {
        display: flex;
      }

      @include respond(md-phone) {
        height: 32rem;
      }

      img {
        height: 100%;
      }
    }
  }
}

/*************************************************
 Exchange & Secure process Section
*/

.get-exchange {
  padding: 12rem 0;
  background-color: #dee3ff;
}

.exchange {
  padding: 0 10rem;
  border-radius: 0.8rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @include respond(phone) {
    grid-template-columns: 1fr;
    padding: 6.2rem 2.5rem;
  }

  @include respond(sm-phone) {
    background-color: none;
    padding: 0;
  }

  &__text-box {
    @include respond(phone) {
      text-align: center;
    }

    h2 {
      margin-bottom: 1.2rem;
      max-width: 35rem;

      @include respond(phone) {
        margin: 0 auto 1.2rem;
      }

      @include respond(xs-phone) {
        font-size: 3.6rem;
      }
    }

    p {
      margin-bottom: 1.6rem;

      @include respond(phone) {
        color: var(--text-secondary);
        margin-bottom: 2.4rem;
      }
    }

    a {
      @include respond(phone) {
        // border-radius: 10rem !important;
        padding: 1.2rem 3.2rem !important;
      }
    }
  }
}

.form_box-mob {
  display: none;

  @include respond(phone) {
    display: block;
  }
}

.form_box-desk {
  display: block;

  @include respond(phone) {
    display: none;
  }
}

.process {
  &__caption {
    text-align: center;
    max-width: 57rem;
    margin: 0 auto 5rem;

    @include respond(phone) {
      max-width: 30rem;
    }

    .heading--tertiary {
      @include respond(phone) {
        font-weight: 500 !important;
      }
    }
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
      gap: 4rem;
      text-align: center;
    }

    .feature {
      padding: 2.4rem 1.6rem;
      border-radius: 0.8rem;
      // transition: all 0.1s;

      h4 {
        margin-bottom: 0.8rem;

        @include respond(phone) {
          margin-bottom: 1.1rem;
        }
      }

      p {
        color: var(--text-secondary);
      }

      &:hover {
        background-color: var(--grey-200);
      }
    }
  }

  &__svg {
    margin-bottom: 2.8rem;
  }
}

/*************************************************
 Features Section
*/

.features {
  padding: 12rem 0;

  &__caption {
    text-align: left;
    margin: 0 0 8rem;
    max-width: max-content;

    span {
      color: #04396d;
      font-weight: 600;
    }

    h2 {
      color: #101828;
      font-weight: 600;
      font-size: 3.6rem;
      letter-spacing: -0.72px;
      margin: 1.2rem 0;
    }

    p {
      color: #475467;
      font-weight: 400;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.4rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    padding: 2.4rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 0.4rem 5rem 0px rgba(0, 0, 0, 0.07);

    img {
      display: inline-block;
      margin-bottom: 13rem;
    }

    h4 {
      color: #101828;
      font-size: 2rem;
      font-weight: 600;
      line-height: 30px;
    }

    P {
      color: #475467;
    }
  }
}

/*************************************************
 Testimonials Section
*/

.testimonials {
  &__section {
    padding: 8rem 0 12rem;
    background-color: var(--grey-200);
  }

  &__caption {
    max-width: 32rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8rem;

    @include respond(phone) {
      max-width: 18.1rem;
    }

    h2 {
      @include respond(phone) {
        max-width: 28.8rem;
        margin: 0 auto;
        font-size: 2.7rem;
        margin-bottom: 1.3rem;
      }
    }

    h4 {
      @include respond(phone) {
        font-size: 1.6rem;
        letter-spacing: 0.9px;
        font-weight: 400;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6.4rem 2.4rem;

    @include respond(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    background-color: #fff;
    box-shadow: 0.2rem 0.4rem 1.2rem rgba(4, 57, 109, 0.06);
    padding: 1.6rem;
    border-radius: 0.8rem;
    text-align: center;

    h4 {
      color: var(--text-secondary);
      margin-top: -2.8rem;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;

      @include respond(phone) {
        font-size: 1.8rem;
        line-height: 2.6rem;
      }
    }
  }

  &__avatar {
    display: block;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    position: relative;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*************************************************
 Blog Section
*/

.blog {
  &__section {
    padding: 8rem 0 16rem;
  }

  &__caption {
    @include flex(space-between, center);
    margin-bottom: 4.8rem;

    @include respond(phone) {
      max-width: 24.4rem;
      text-align: center;
      margin: 0 auto 4.8rem;
    }

    h2 {
      @include respond(phone) {
        max-width: 28.8rem;
        margin: 0 auto;
        font-size: 2.7rem;
        margin-bottom: 1.3rem;
      }

      &::before {
        content: "Blog";
        display: none;
        color: var(--text-secondary);
        font-size: 1.6rem;
        letter-spacing: 0.9px;
        margin-bottom: 0.8rem;
        text-transform: uppercase;

        @include respond(phone) {
          display: block;
        }
      }
    }

    .btn {
      @include respond(phone) {
        display: none;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    @include respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    &:nth-child(2) {
      @include respond(phone) {
        display: none;
      }
    }

    &:nth-child(3) {
      @include respond(tablet) {
        display: none;
      }
    }
  }

  &__img {
    width: 100%;

    height: 21.8rem;
    border-radius: 0.8rem;
    overflow: hidden;
    margin-bottom: 2.4rem;

    @include respond(tablet) {
      max-width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    .heading--teritary {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 3rem;
      letter-spacing: 0;
      margin-bottom: 1.6rem;

      @include textLimit(2);
    }

    p {
      font-weight: 300;
      color: var(--text-secondary);
      margin-bottom: 2.4rem;

      @include textLimit(3);
    }

    .btn.btn--white-outline {
      max-width: 20.4rem;
    }
  }
}

/*************************************************
 FAQ Section
*/

.faq {
  &__section {
    padding: 8rem 0 12rem;
  }

  &__caption {
    text-align: center;
    margin-bottom: 6.4rem;

    h2 {
      @include respond(phone) {
        max-width: 28.8rem;
        margin: 0 auto;
        font-size: 2.7rem;
        margin-bottom: 1.3rem;
      }
    }

    h4 {
      @include respond(phone) {
        font-size: 1.6rem;
        letter-spacing: 0.9px;
        font-weight: 400;
      }
    }

    p {
      color: get-color(g-600);
      text-align: center;
      font-weight: 400;
      max-width: 76.8rem;
      margin: 0 auto;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    max-width: 96rem;
    margin-inline: auto;

    @include respond(md-laptop) {
      grid-template-columns: 1fr;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    [data-aos="fade-up"]:not(:last-child) {
      border-bottom: 1px solid #e4e7ec;
    }
  }

  &__faq {
    background-color: transparent;
    padding: 0.8rem;

    align-self: start;

    &--is-open {
      padding-bottom: 0.2rem;
    }
  }

  &__title {
    @include flex(space-between, center);
    margin-bottom: 1.6rem;
    cursor: pointer;

    h5 {
      font-size: 2rem;
      font-weight: 400;
    }

    svg {
      flex-shrink: 0;
    }
  }

  &__body {
    height: 0;
    transition: height 0.5s ease-out;
    overflow: hidden;

    p {
      font-weight: 300;
      color: var(--text-secondary);
    }
  }

  &__faq--is-open &__body {
    height: 8.7rem;
    margin-bottom: 2.4rem;
  }

  &__faq--is-open &__title {
    margin-bottom: 0.8rem;
  }

  &__open.hidden {
    display: none;
  }

  &__close.hidden {
    display: none;
  }
}

/*************************************************
 Marketplace Section
*/

.marketplace {
  &__section {
    background-image: url(../../src/assets/marketplace-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    // background-attachment: fixed;
    position: relative;
    max-height: 44.5rem;
    padding: 8rem 0;
    overflow: hidden;

    @include respond(lg-laptop) {
      background-image: url(../../src/assets/marketplace-bg@md.svg);
    }

    @include respond(md-laptop) {
      background-image: url(../../src/assets/marketplace-bg@sm.svg);
    }

    @include respond(tablet) {
      background: none;
      max-height: 100%;
    }
  }

  &__floating-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

    @include respond(md-phone) {
      display: block;
    }

    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1.5fr 2fr;

    @include respond(tablet) {
      grid-template-columns: 1fr;
      gap: 3.2rem;
    }

    @include respond(tablet) {
      grid-template-columns: 1fr;
      gap: 6.4rem;
    }
  }

  &__text-box {
    @include respond(tablet) {
      text-align: center;
    }

    h3 {
      font-weight: 500;
      max-width: 44rem;
      margin-bottom: 1.2rem;

      @include respond(tablet) {
        margin: 0 auto 1.3rem;
        max-width: 27.5rem;
      }
    }

    p {
      color: var(--text-secondary);
      font-weight: 300;
      max-width: 42rem;
      margin-bottom: 2.4rem;

      @include respond(tablet) {
        margin: 0 auto 3.3rem;
      }
    }
  }

  &__img-box {
    justify-self: center;

    @include respond(tablet) {
      max-height: 305px;
    }

    @include respond(phone) {
      width: 100%;
      height: 445px;
      position: relative;
    }
  }

  &__img {
    max-width: 40.1rem;
    @include respond(tablet) {
      clip-path: inset(0 0 40% 0);
    }

    @include respond(phone) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;

      // bottom: 0;
    }

    @include respond(md-phone) {
      // transform: translate(-50%, 10%);
      clip-path: inset(0 0 0 0);

      // bottom: 0;
    }
  }
}
