.signup {
  display: flex;
  gap: 2.4rem;
  padding: 2.4rem;
  min-height: 100vh;

  &__left {
    flex-basis: calc(40% - (2.4rem / 2));
    border-radius: 1.6rem;
    background: #04396d;
    color: #fff;
    max-width: 75rem;

    padding: 6.4rem;

    @include respond(md-laptop) {
      padding: 4.8rem;
    }

    @include respond(lg-tablet) {
      flex-basis: calc(50% - (2.4rem / 2));
    }

    @media only screen and (max-width: 800px) {
      display: none;
    }
  }

  &__right {
    @include flex(center, center);
    flex-basis: calc(60% - (2.4rem / 2));

    @include respond(lg-tablet) {
      flex-basis: calc(50% - (2.4rem / 2));
    }

    @media only screen and (max-width: 800px) {
      flex-basis: calc(100%);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__vs-logo {
    margin: 0;
    margin-bottom: 7.2rem;
  }

  &__title {
    font-size: clamp(4.8rem, 3vw, 6rem);
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1.2px;
    margin-bottom: 3.2rem;
  }

  &__text {
    color: #e4dbdb;

    line-height: 145%;
    margin-bottom: 18vh;
  }

  &__testimonial {
    padding: 2.4rem;
    border-radius: 1.6rem;
    background: #0e8ada;
  }

  &__quote {
    font-size: 1.4rem;
    line-height: 145%;
  }

  &__cite {
    @include flex(flex-start, center);
    gap: 0.8rem;

    img {
      width: 3.2rem;
      height: 3.2rem;
    }

    span {
      font-size: 1.2rem;
      font-style: normal;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-inline: auto;

    @include respond(lg-tablet) {
      width: 70%;
    }

    @include respond(tablet) {
      width: 90%;
    }

    @media only screen and (max-width: 800px) {
      width: 100%;
      max-width: 50rem;
    }

    & > * {
      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
  }

  &__wrapper {
    @include flex(flex-start, center);
    gap: 1.6rem;

    & > * {
      width: 100%;
    }
  }

  &__header {
    h1 {
      color: #1b1818;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -1.44px;
    }

    p {
      color: #645d5d;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 145%;
    }
  }

  &__form {
    & > *:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__form .btn {
    width: 100%;
    border-radius: 8px;
    background: #04396d;
    color: #fff;
  }

  &__forgot {
    color: #645d5d;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 145%;
    text-align: center;
  }
}
