.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 0.8rem;
  padding: 1.4rem 2rem;
  cursor: pointer;
}

.btn {
  &--primary {
    color: var(--black-500-base);
    background-color: var(--yellow-400);

    &:disabled {
      background-color: rgba($color: #ffb805, $alpha: 0.5);
      color: rgba($color: #0b0c0f, $alpha: 0.7);
    }
  }

  &--white {
    color: var(--black-500-base);
    background-color: #fff;

    &-outline,
    &-outline:link,
    &-outline:visited {
      font-weight: 400;
      @include flex(center, center);
      color: var(--vs-blue);
      background-color: #fff;
      border: 1px solid var(--vs-blue);
      border-radius: 3rem;

      padding: 1.2rem 3.2rem;

      & > *:not(:last-child) {
        margin-right: 0.8rem;
        transition: all 0.2s;
      }
    }

    &-outline:hover {
      & > *:not(:last-child) {
        margin-right: 1.6rem;
      }
    }
  }
}
