.header {
  background-color: var(--neutral-grey);
  padding-bottom: 8rem;

  &--terms {
    background-color: var(--neutral-grey);
    padding-bottom: 4.8rem;
  }

  &--signup {
    padding-bottom: 4.8rem;

    @include respond(md-phone) {
      text-align: center;
    }

    .heading--secondary {
      @include respond(md-phone) {
        margin-top: 15vh;
        font-size: 4.4rem;
        margin-bottom: 0.8rem;
        font-weight: 600;
      }

      @include respond(xs-phone) {
        font-size: 4rem;
      }
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: 40fr 60fr;
  grid-template-rows: repeat(2, min-content);
  gap: 4.8rem;
  max-width: 114rem;
  margin: 0 auto;
  align-items: center;

  @include respond(md-laptop) {
    padding: 0 2.4rem;
    grid-template-columns: 45fr 55fr;
  }

  @include respond(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    margin-top: 10vh;
    // overflow-x: hidden;
  }

  @include respond(md-phone) {
    background-image: url(../assets/hero-svg.svg);
    background-size: contain;
    background-position: 0px 120px;
    background-repeat: no-repeat;
  }

  &--terms {
    max-width: 92rem;
    margin: 10vh auto 0;

    @include respond(md-laptop) {
      padding: 0 2.4rem;
    }

    .heading--secondary {
      max-width: 65.1rem;
      margin-bottom: 1.6rem;

      @include respond(tablet) {
        font-weight: 500;
      }

      @include respond(md-phone) {
        font-size: 3.6rem;
        margin-bottom: 0.8rem;
      }
    }

    p {
      font-weight: 300;
      color: var(--text-secondary);

      @include respond(md-phone) {
        font-size: 1.5rem;
      }
    }
  }

  &__text-box {
    grid-row: 1 / 2;

    @include respond(tablet) {
      text-align: center;
    }

    @include respond(tablet) {
      grid-column: 1 / -1;
    }

    h1 {
      margin-bottom: 1.6rem;

      @include respond(tablet) {
        max-width: 60rem;
        margin: 0 auto 1.6rem;
        text-align: center;
      }
    }

    p {
      max-width: 34.2rem;
      margin-bottom: 2.4rem;

      @include respond(tablet) {
        font-size: 1.7rem;
        margin: 0 auto 2.4rem;
      }
    }
  }

  &__img-box {
    display: flex;
    justify-items: center;
    position: relative;
    padding: 5vh 0;
    grid-row: 1 / 2;
    z-index: 3;

    @include respond(tablet) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }

    .layer-glow {
      position: absolute;
      width: 69.9rem;
      height: 40rem;
      top: 0;
      right: 0;

      @include respond(tablet) {
        display: none;
      }

      background-image: linear-gradient(
        123.59deg,
        rgba(57, 118, 193, 0.32) -5.11%,
        rgba(247, 146, 29, 0.37) 64.02%
      );
      filter: blur(240px);
      z-index: 2;
    }

    img {
      display: block;
      position: relative;
      width: 75%;
      margin: 0 auto;
      z-index: 3;
      transition: all 0.4s;

      @include respond(lg-laptop) {
        left: -3rem;
      }

      @include respond(md-laptop) {
        width: 70%;
      }

      @include respond(tablet) {
        left: 0;
        max-width: 40rem;
      }

      @include respond(phone) {
        left: 0;
        width: 80%;
      }
    }
  }

  &__svg {
    position: absolute;
    right: -5.9rem;
    bottom: -8rem;
    width: 70rem;
    height: 56rem;
    transition: all 0.4s;

    @include respond(lg-laptop) {
      right: -1.9rem;

      width: 55vw;
      height: 52rem;
    }

    @include respond(md-laptop) {
      right: -1rem;
      max-width: 60rem;
    }

    @include respond(tablet) {
      width: 157rem;
      max-width: 60rem;
      margin: 0 auto;
      height: 56rem;
      right: 0;
      left: 8.72rem;
    }

    @include respond(phone) {
      display: none;
    }

    @include respond(md-phone) {
      opacity: 0.4;
      top: -10rem;
      right: 0;
      left: 0;
      transform: scale(1.1) rotate(-23deg);
    }

    @include respond(sm-phone) {
      top: -18rem;
      transform: scale(0.95) rotate(-25deg) translateX(-4rem);
    }

    @include respond(xs-phone) {
      top: -20rem;
      transform: scale(1) rotate(-25deg) translateX(-5rem);
    }
  }

  &__cta {
    display: flex;
    position: relative;
    z-index: 10;

    & > *:not(:last-child) {
      margin-right: 1.6rem;
    }

    @include respond(tablet) {
      justify-content: center;
    }

    @include respond(phone) {
      & > *:not(:last-child) {
        margin-right: 0.8rem;
      }
    }

    a {
      display: block;
      width: 14rem;

      @include respond(phone) {
        width: 108px;
        height: 36px;
        object-fit: contain;
      }

      img {
        height: 4.8rem;

        @include respond(phone) {
          object-fit: contain;
        }
      }
    }
  }
}
