.nav {
  margin-bottom: 1.6rem;
}

.navbar {
  @include flex(space-between, center);
  padding: 1.6rem 0;

  &__list {
    list-style: none;
    @include flex(center, center);

    & > *:not(:last-child) {
      margin-right: $spacing-4;
    }
  }

  &__cta {
  }
}
