.nav {
  margin-bottom: 1.6rem;

  @include respond(tablet) {
    margin: 0;
    background-color: #f9f9f9;
  }
}

.navbar {
  @include flex(space-between, center);
  padding: 1.6rem 0;
  position: relative;

  &__logo {
    @include respond(md-phone) {
      width: 120px;
    }
  }

  &__list {
    list-style: none;
    @include flex(center, center);

    & > *:not(:last-child) {
      margin-right: $spacing-4;

      @include respond(tablet) {
        margin-right: 0;
        margin-bottom: 3.2rem;
      }
    }

    @include respond(tablet) {
      display: none;
      flex-direction: column;
      padding: 3.2rem 0;
      background-color: #f9f9f9;
      width: 100%;
      position: absolute;
      top: 7rem;
      border-radius: 0.8rem;
      z-index: 100;
    }
  }

  &__cta {
    @include respond(tablet) {
      display: none !important;
    }
  }

  &__mobile {
    display: none;

    @include respond(tablet) {
      display: block;
    }
  }
}

.navbar__list.open {
  display: flex;
}
