[class^="heading"] {
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
}

.heading {
  &--primary {
    // font-size: 6.4rem;
    font-size: clamp(4.8rem, 4.8vw, 6rem);
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -2.56px;

    @include respond(tablet) {
      font-weight: 500;
    }

    @include respond(sm-phone) {
      font-size: 4.4rem;
    }

    @include respond(xs-phone) {
      font-size: 3.8rem;
    }
  }

  &--secondary {
    // font-size: 4.8rem;
    font-size: clamp(4rem, 3.2vw, 4.8rem);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1.92px;

    // @include respond(xs-phone) {
    //   font-size: 4rem;
    // }
  }

  &--tertiary {
    // font-size: 40px;
    font-size: clamp(2.7rem, 3.2vw, 4rem);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1.6px;
  }

  &--quad {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -1px;
  }

  &--caption {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    color: var(--text-secondary);
    text-transform: uppercase;
  }
}

.text {
  &__lg {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.22px;
  }
}

.main--terms {
  p {
    font-size: 1.4rem;
  }
}
