@import "./base//animations.scss";
@import "./base/variables";
@import "./base/mixins";
@import "./base/typo";

@import "./components/button";
@import "./components/powered-by";
@import "./components/inputfield";
@import "./components/rate-card";
@import "./components/currency";
@import "./components/get-in-touch";

@import "./layout/header";
@import "./layout/navigation";
@import "./layout/splitscreen";
@import "./layout/grid";
@import "./layout/footer";

@import "./pages/homepage";
@import "./pages/personal";
@import "./pages/business";
@import "./pages/term";
@import "./pages/signup";
